* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font:
    24px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  margin: 0 auto;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #f5f5f5;
  color: #111111;
  z-index: auto;
  overflow: visible;
}

.app-title {
  font-size: 80px;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 200;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.task-list-container {
  min-width: 400px;
  max-width: 650px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

@media (max-width: 768px) {
  .task-list-container {
    min-width: auto;
    max-width: 100%;
    margin: 0 10px;
  }
}

.task-list {
  overflow-y: auto;
}
